<h2>Добавить товар</h2>

<form method="post">
    <div>
        Название:<br />
        <input name="Name" />
    </div>

    <div>
        Артикул:<br />
        <input name="Sku" />
    </div>

    <div>
        Количество:<br />
        <input name="Quantity" type="number" />
    </div>

    <br />
    <button type="submit">Сохранить</button>
</form>
