@model List<WebUI.Models.Product>

<h2>Товары</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Название</th>
    <th>Артикул</th>
    <th>Количество</th>
</tr>

@foreach (var p in Model)
{
<tr>
    <td>@p.Id</td>
    <td>@p.Name</td>
    <td>@p.Sku</td>
    <td>@p.Quantity</td>
</tr>
}
</table>
